@font-face {
    font-family: 'GothamRounded';
    src: url("./assets/fonts/GothamRnd/GothamRnd-Medium.woff") format('woff'),
    url("./assets/fonts/GothamRnd/GothamRnd-Medium.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
